<div class="container">
  <h1><%= @cocktail.name %></h1>
  <div class="list-group">
    <% @cocktail.doses.each do |dose| %>
      <li class="list-group-item">
        <p>Description: <%= dose.description %></p>
        <p>Ingredients: <%= dose.ingredient.name %></p>
        <%= link_to "Delete dose", dose_path(dose), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
      </li>
    <% end %>
  <%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail), class: "btn btn-success" %>
  <%= link_to "See all cocktails", cocktails_path, class: "btn btn-info" %>
</div>
